<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>All Products</title>
	<style>
		.products {
			margin: 5px 10px;
			padding: 10px;
			background-color: aqua;
		}

		.product-links {
			padding: 10px;
			background-color: lightgrey;
		}
	</style>
</head>

<body>
	<h1>All products</h1>
	<form th:action="@{/product/search_name/(token=${tokenValue})}" th:object="${search}" method="post">
		<div>
			<label th:for="search">Search:</label>
			<input type="text" th:field="*{content}" placeholder="Search" required="required">
		</div>
		<div>
			<button type="submit">Send</button>
		</div>
	</form>
	<a th:href="@{/(token=${tokenValue})}">Index</a>
	<a th:href="@{/product/register/(token=${tokenValue})}">Register product</a>

	<div id="wrapper">
		<header id="home">
			<div id="serviceGalery">
				<section class="products" th:each="product : ${products}">
					<p>Id: <b th:text="${product.id}"></b></p>
					<p>Name: <b th:text="${product.name}"></b></p>
					<p>Description <b th:text="${product.description}"></b></p>
					<p>Price: <b th:text="${product.price}"></b></p>
					<div class="product-links">
						<a th:href="@{/product/update/(id=${product.id},token=${tokenValue})}">Update</a>
						<a th:href="@{/product/remove/(id=${product.id},token=${tokenValue})}">Remove</a>
						<a th:href="@{/product/(id=${product.id},token=${tokenValue})}">See</a>
					</div>
				</section>
			</div>
		</header>
	</div>
</body>

</html>