<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>All Users</title>
	<style>
		.users {
			margin: 10px 0;
			padding: 5px 10px;
			background-color: rgb(128, 128, 255);
		}

		.orders {
			background-color: darkgrey;
			padding: 10px;
		}

		.products {
			padding: 10px;
			background-color: aqua;
		}
		
		.user-links {
			padding: 10px;
			background-color: lightgrey;
		}
	</style>
</head>

<body>
	<h1>All users</h1>
	<form th:action="@{/user/search_email/}" th:object="${search}" method="post">
		<div>
			<label th:for="search">Search:</label>
			<input type="text" th:field="*{content}" placeholder="Search" required="required">
		</div>
		<div>
			<button type="submit">Send</button>
		</div>
	</form>
	<a th:href="@{/}">Index</a>
	<a th:href="@{/user/register}">Register user</a>

	<div id="wrapper">
		<header id="home">
			<div id="serviceGalery">
				<section class="users" th:each="user : ${users}">
					<p>Id: <b th:text="${user.id}"></b></p>
					<p>Name: <b th:text="${user.name}"></b></p>
					<p>Email: <b th:text="${user.email}"></b></p>
					<p>Phone: <b th:text="${user.phone}"></b></p>
					<section class="orders">
						<p>Orders</p>
						<div th:each="order : ${user.orders}">
							<p>Id: <b th:text="${order.id}" /></p>
							<div class="products">
								<p>Products</p>
								<div th:each="product : ${order.products}">
									<p>Id: <b th:text="${product.getProduct().id}"></b></p>
									<p>Name: <b th:text="${product.getProduct().name}"></b></p>
									<p>Quantity: <b th:text="${product.getQuantity()}"></b></p>
								</div>
							</div>
						</div>
					</section>
					<div class="user-links">
						<a th:href="@{/user/update/(id=${user.id})}">Update</a>
						<a th:href="@{/user/remove/(id=${user.id})}">Remove</a>
						<a th:href="@{/user/(id=${user.id})}">See</a>						
					</div>
				</section>
			</div>
		</header>
	</div>
</body>

</html>