<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>All Users</title>
</head>

<body>
	<h1>All users</h1>
	<a th:href="@{/}">Index</a>
	<a th:href="@{/user/register}">Register user</a>

	<div id="wrapper">
		<header id="home">
			<div id="serviceGalery">
				<div class="users" th:each="user : ${users}">
					<br>
					<p>Id: <b th:text="${user.id}" /></p>
					<p>Name: <b th:text="${user.name}" /></p>
					<p>Email: <b th:text="${user.email}" /></p>
					<p>Phone: <b th:text="${user.phone}" /></p>
					<div class="orders" th:each="order : ${user.orders}">
						<br>
						<p>Orders</p>
						<p>Id: <b th:text="${order.id}" /></p>
						<br>
					</div>
					<a th:href="@{/user/update/(id=${user.id})}">Update</a>
					<a th:href="@{/user/remove/(id=${user.id})}">Remove</a>
					<a th:href="@{/user/(id=${user.id})}">See</a>
					<br>
					<br>
				</div>
			</div>
		</header>
	</div>
</body>

</html>