<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Index</title>
</head>

<body>
	<h1>Menu</h1>
	<div id="wrapper">
		<header id="home">
			<div id="links">
				<a th:href="@{/}">Index</a>
				<br>
				<a th:href="@{/user/register}">Register User</a>
				<a th:href="@{/user/all}">Users</a>
				<br>
				<a th:href="@{/product/register}">Register Product</a>
				<a th:href="@{/product/all}">Products</a>
			</div>
		</header>
	</div>
</body>

</html>