<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Index</title>
</head>

<body>
	<h1>Menu</h1>
	<form th:action="@{/login}" th:object="${token}" method="post">
		<h1>Login</h1>
		<div>
			<label th:for="content">Token:</label>
			<input type="text" th:field="*{content}" placeholder="Token" required="required">
		</div>
		<div>
			<button type="submit">Send</button>
		</div>
	</form>
</body>

</html>