<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Registered</title>
</head>

<body>
	<a th:href="@{/}">Index</a>
	<a th:href="@{/product/all}">All products</a>
	<h1>Product created/updated.</h1>
	<h2>Data:</h2>

	<p>Id: <b th:text="${product.id}"></b></p>
	<p>Name: <b th:text="${product.name}" /></p>
	<p>Price: <b th:text="${product.price}" /></p>
</body>

</html>